<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.kunst.plugin.PushMocking"
    version="0.1.0">

    <name>PushMocking</name>
    <author>Kunst</author>

    <description>
        This plugin allows you to mock push notifications and see how it will look on any Android device.
    </description>

    <license>MIT</license>

    <js-module src="www/PushMockingPlugin.js" name="PushMocking">
        <clobbers target="PushMocking" />
    </js-module>


    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushMocking" >
                <param name="android-package" value="com.kunst.plugin.PushMockingPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>



        <source-file src="src/android/libs/gcm.jar" target-dir="libs/" />
        <source-file src="src/android/PushMockingPlugin.java" target-dir="src/com/kunst/plugin/" />
        <source-file src="src/android/android-support-v13.jar" target-dir="libs/" />
    </platform>

</plugin>